<%- model_class = Express -%>
<div class="page-header">
<h1>邮件改址</h1>
  <div><%= render partial: '/layouts/page_size' %></div>
</div>
<div align='right'>
  <%= submit_tag "无需修改",:class => 'btn btn-primary', onclick: "form1.action='set_no_modify';form1.submit();" %>
  <%= submit_tag "筛选异地邮件",:class => 'btn btn-primary', onclick: "form1.action='change_express_addr?abnormal=true';form1.submit();" %>
</div>


<%= form_tag('', name: 'form1') do %>
<%= grid(@expresses_grid) do |g|
  g.action_column select_all_buttons: true

	g.column name: model_class.human_attribute_name(:express_no), attribute: 'express_no'

	g.column name: model_class.human_attribute_name(:receiver_province), attribute: 'receiver_province'

	g.column name: model_class.human_attribute_name(:receiver_city), attribute: 'receiver_city'

	g.column name: model_class.human_attribute_name(:receiver_district), attribute: 'receiver_district'

	g.column name: model_class.human_attribute_name(:receiver_addr), attribute: 'receiver_addr'

	g.column name: model_class.human_attribute_name(:receiver_name), attribute: 'receiver_name'

	g.column name: model_class.human_attribute_name(:receiver_phone), attribute: 'receiver_phone'

	g.column name: "邮件日期", attribute: 'created_at' do |express|
    l express.created_at
  end

  g.column name: model_class.human_attribute_name(:address_status), attribute: 'address_status',custom_filter: Express::ADDRESS_STATUS_NAME.invert do |express| 
      express.address_status_name
    end

  g.column do |express|
    ActiveSupport::SafeBuffer.new << 
    (link_to t('.edit', :default => t("helpers.links.edit")), edit_express_path(express), target: '_blank', :class => 'btn btn-xs btn-primary' if (can? :update, express))
  end

end 
%>
<% end %>