<%- model_class = Express -%>
<div class="page-header">
<h1><%=t '.title', :default => [:'helpers.titles.index', '%{model} Manage'], :model => model_class.model_name.human.titleize %></h1>
<%= render partial: '/layouts/page_size' %>

<br>
<%= form_tag('', :method => "post", name: 'form1') do %>
<div style="float:right">
<% if can? :tkzd, Express %>

<%= button_tag "打印面单", :class => 'btn btn-primary', target: '_blank', onclick: "form1.action='expresses/tkzd';form1.submit();" %>
<% end %>
<%= button_tag "导出",:class => 'btn btn-primary', onclick: "form1.action='expresses/express_export.xls';form1.submit();" %>
<!-- <button class="btn btn-primary wg-external-csv-export-button" data-grid-name="expresses">导出</button> -->
</div>
<br>

<%= render partial: 'expresses_grid' %>
<% end %>
</div> 